{% extends '_base.html' %}

{% block title %}Book - {{book.title}}{% endblock title %}

{% block content %}
<div class="book-detail">
    {% if book.cover %}
    <img src={{book.cover.url}} alt="{{book.title}}" width="210" height="270">
    {% endif %}
    <h2><a>{{book.title}}</a></h2>
    <p>Author: {{book.author}}</p>
    <p>Price: {{book.price}}</p>
</div>
<h2><b>Reviews:</b></h2>
<div class="reviews">
    {% for review in book.reviews.all %}
    <p>{{review.review}}</p>
    <p>-- {{review.author}}</p>
    {% endfor %}
</div>
{% endblock content %}