{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<a href="{% url 'about' %}">About</a>
{% if user.is_authenticated %}
<p>Hi {{user.username}}</p>
<a href="{% url 'account_logout' %}">Log out</a>
{% else %}
<p>You are not logged in.</p>
<a href="{% url 'account_login' %}">Log In</a>
<br>
<br>
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}
<!--javascript-->
{% block javascript %}
<!--<script src="{% static 'js\base.js' %}"></script>-->
{% endblock javascript %}
{% endblock content %}